.sidebar {
	box-sizing: border-box;

	&-wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: start;

		@media screen and (width <=900px) {
			padding: 15px 20px 40px;
		}
	}

	@media screen and (width <=900px) {
		position: fixed;
		z-index: 11;
		top: 0;
		right: 0;
		transform: translateX(100%);

		overflow-y: auto;

		width: 100%;
		height: 100vh;

		opacity: 0;
		background: var(--background);

		transition: transform .3s ease, opacity .3s ease;

		&.open {
			transform: translateX(0);
			opacity: 1;
		}
	}
}

.close {
	position: absolute;
	z-index: 3;
	top: 15px;
	right: 20px;

	@media screen and (width >=901px) {
		display: none;
	}
}