.wrapper {
	display: grid;
	grid-template:
		". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;
	gap: 40px 30px;
	min-height: 100vh;

	@media screen and (width <=900px) {
		grid-template-areas:
			"header"
			"body"
			"footer";
		grid-template-columns: minmax(320px, 1fr);
		gap: 30px;
	}
}