.wrapper {
	display: grid;
	grid-template:
		". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;
	gap: 40px 30px;
	min-height: 100vh;

	@media screen and (width <= 900px) {
		grid-template-areas:
			"header"
			"body"
			"footer";
		grid-template-columns: minmax(320px, 1fr);
	}
}

.header {
	grid-area: header;

	@media screen and (width >= 901px) {
		display: none;
	}
}

.sidebar {
	grid-area: sidebar;

	@media screen and (width <= 900px) {
		display: none !important;
	}
}

.body {
	grid-area: body;

	@media screen and (width <= 900px) {
		padding: 0 20px;
	}
}

.footer {
	grid-area: footer;
}