.filled {
	svg {
		fill: var(--primary);
	}
}

.star {
	display: inline-block;

	svg {
		display: inline-block;
		outline-color: var(--primary);
		transition: fill .1s ease;
	}

	&:not(:last-child) {
		padding-right: 5px;
	}
}

.editable {
	cursor: pointer;
}

.defaults {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.error {
	svg {
		stroke: var(--red);
		stroke-width: 1px;
	}
}