.first-level {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	color: var(--grey-dark);

	transition: color .3s ease;

	svg {
		transition: fill .3s ease;
	}

	&-wrapper {
		line-height: 140%;
	}

	&-active,
	&:hover {
		color: var(--primary);

		svg {
			fill: var(--primary);
		}
	}
}

.third-level {
	&-item {
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 135%;
	}

	&-link {
		display: block;

		font-size: 14px;
		font-weight: 500;
		color: var(--grey-dark);

		outline-offset: -1px;

		transition: color .3s ease;

		&-active,
		&:hover {
			color: var(--primary);
		}
	}
}

.second-level {
	cursor: pointer;

	display: block;

	padding: 0;
	border: none;

	font-family: var(--font-family);
	font-size: 12px;
	font-weight: 300;
	line-height: 130%;
	color: var(--grey-dark);
	text-transform: uppercase;

	appearance: none;
	background: none;
	outline-offset: -1px;

	&-block {
		overflow: hidden;
	}

	&-wrapper {
		position: relative;
		z-index: 1;

		overflow: hidden;
		display: grid;
		display: flex;
		grid-template-columns: 1fr;
		flex-direction: column;
		gap: 10px;
		align-items: start;

		margin-left: 12px;
		padding-left: 32px;

		&::before {
			content: '';

			position: absolute;
			z-index: -1;
			top: 15px;
			left: 0;

			width: 1px;
			height: calc(100% - 15px);

			background: #DFDFDF;
		}
	}

	&-block-wrapper:first-child {
		padding-top: 15px;

	}

	&-block-wrapper:last-child {
		.third-level-item:last-child {
			margin-bottom: 0;
		}
	}
}