.first-level {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
	color: var(--grey-dark);

	transition: color .3s ease;

	svg {
		transition: fill .3s ease;
	}

	&-active,
	&:hover {
		color: var(--primary);

		svg {
			fill: var(--primary);
		}
	}
}

.second-level {
	cursor: pointer;

	margin-bottom: 10px;

	font-size: 12px;
	font-weight: 300;
	line-height: 130%;
	color: var(--grey-dark);
	text-transform: uppercase;

	outline-offset: -1px;

	&-wrapper {
		margin-top: 15px;
		margin-left: 12px;
		padding-left: 32px;
		border-left: 1px solid #DFDFDF;

		&:not(&-opened) {
			display: none;
		}
	}

	&-block {
		overflow: hidden;
		height: auto;

		&:not(&-opened) {
			height: 0;
		}
	}
}

.third-level {
	cursor: pointer;

	display: block;

	font-size: 12px;
	font-weight: 500;
	color: var(--grey-dark);

	&-item {
		display: block;

		margin-bottom: 10px;

		font-size: 14px;
		font-weight: 500;
		line-height: 135%;
		color: var(--grey-dark);

		transition: color .3s ease;

		&:last-child {
			margin-bottom: 0;
		}

		&-active,
		&:hover {
			color: var(--primary);
		}
	}

	&-wrapper {
		padding-bottom: 20px;
	}
}